[submodule "dev_ws/src/xarm_ros2"]
	path = dev_ws/src/xarm_ros2
	url = https://github.com/xArm-Developer/xarm_ros2.git
	branch = humble
[submodule "dev_ws/src/moveit2_tutorials"]
	path = dev_ws/src/moveit2_tutorials
	url = https://github.com/ros-planning/moveit2_tutorials.git
	branch = humble
[submodule "dev_ws/src/manymove"]
	path = dev_ws/src/manymove
	url = https://github.com/pastoriomarco/manymove.git
	branch = humble
[submodule "dev_ws/src/launch_param_builder"]
	path = dev_ws/src/launch_param_builder
	url = https://github.com/PickNikRobotics/launch_param_builder
	branch = main
[submodule "dev_ws/src/moveit2"]
	path = dev_ws/src/moveit2
	url = https://github.com/ros-planning/moveit2
	branch = humble
[submodule "dev_ws/src/moveit_resources"]
	path = dev_ws/src/moveit_resources
	url = https://github.com/ros-planning/moveit_resources
	branch = humble
[submodule "dev_ws/src/moveit_task_constructor"]
	path = dev_ws/src/moveit_task_constructor
	url = https://github.com/ros-planning/moveit_task_constructor.git
	branch = humble
[submodule "dev_ws/src/moveit_visual_tools"]
	path = dev_ws/src/moveit_visual_tools
	url = https://github.com/ros-planning/moveit_visual_tools
	branch = ros2
[submodule "dev_ws/src/rosparam_shortcuts"]
	path = dev_ws/src/rosparam_shortcuts
	url = https://github.com/PickNikRobotics/rosparam_shortcuts
	branch = ros2
[submodule "dev_ws/src/srdfdom"]
	path = dev_ws/src/srdfdom
	url = https://github.com/ros-planning/srdfdom.git
	branch = ros2
